<h1>Editing guestbook</h1>

<%= render "form", guestbook: @guestbook %>

<br>

<div>
  <%= link_to "Show this guestbook", @guestbook %> |
  <%= link_to "Back to guestbooks", guestbooks_path %>
</div>
