<p style="color: green"><%= notice %></p>

<% if @guestbook.user == current_user %>
  <% if @guestbook.messages.incoming.any? %>
    <h3>incoming messages:</h3>
    <%= render @guestbook.messages.incoming.order(created_at: :desc) %>
  <% end %>
<% else %>
  <div class="message-form">
    <%= render "messages/form", guestbook: @guestbook, message: @message %>
  </div>
<% end %>

<% if @guestbook.user == current_user %>
  <h3>published messages:</h3>
<% end %>
<%= render @guestbook.messages.published.order(created_at: :desc) %>
